*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filtri
{
    display: flex;
    justify-content: center;
    padding:8px 0;
    background-color: cornflowerblue;

}

.containerCard
{
    display: flex;
    flex-wrap: wrap;
    margin: 24px;
}

.card 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: lightcyan/*  */;
    border-radius: 15px;
    margin: 16px;
}

.card .icon i
{
    font-size: 32px;
    margin: 8px;
} 

.card .text span
{
    font-size: 16px;
    text-transform: uppercase;
} 